* {
    box-sizing: border-box;
}

.form{
    padding: 30px 40px;
    text-align: center;
}

.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    
}

.mensaje_mostrar{
    color:rgb(7, 248, 27);
    
    margin: 25px 30px;
    border-radius: 5px;
    text-align: center;
}

.mensaje_error{
    color:rgb(221, 17, 17);
    
    margin: 25px 30px;
    border-radius: 5px;
    text-align: center;
}

.boton{
    background-color: rgb(212, 55, 55); 
    color: black; 
    font-size: large;
    border-radius: 5px;
    margin: -10px 25px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
}


h2{
    text-align: center;
    
}
